*{
    margin: 0.1rem;
    padding: 0.1rem;
}
div{
    background-color: rgb(187, 177, 177);
}
.center{
    text-align: center;
    padding-top: 1rem;
}
.border{
    text-align: center;
    border: 1px solid;
    padding-left: 4rem;
    padding-right: 4rem;
    border-radius: 0.6rem;
    margin: 1rem;
}
.radius{
    text-align: center;
    border: 1px solid;
    border-radius: 0.6rem;
    margin: 1rem;
}
img{
    border-radius: 14rem;
    /* width: 46vw;
    height: 28vh; */
}
.most{
    padding: 0.8rem;
    background-color: gray;
    border-radius: 0.6rem;
    margin: 1rem;
}
.this{
    padding-left: 12rem;
    border: 1px solid;
    border-radius: 0.6rem;
    margin: 1rem;
}
.one{
    padding-left: 16rem;
    
}
.onassis{
    border: 1px solid;
    border-radius: 0.6rem;
    margin: 1rem;
}
cite{
    display: flex;
    justify-content: center;
}