*{
    margin: 0.1rem;
    padding: 0.1rem;
}
div{
    background-color: rgb(187, 177, 177);
}
.center{
    text-align: center;
    padding-top: 1rem;
}
.border{
    text-align: left;
    border: 1px solid;
    padding-left: 4rem;
    padding-right: 4rem;
    border-radius: 0.4rem;
    margin: 1rem;
}
.radius{
    text-align: center;
    border: 1px solid;
    border-radius: 0.4rem;
    margin: 1rem;
}
img{
    border-radius: 14rem;
}
.most{
    padding: 0.8rem;
    background-color: gray;
    border-radius: 0.4rem;
    margin: 1rem;
}
.this{
    padding-left: 2rem;
}
.onassis{
    padding-left: 4rem;
    padding-right: 4rem;
}
cite{
    display: flex;
    justify-content: center;
}
@media (max-width:1200px) {
    .onassis{
        padding-left: 4rem;
        padding-right: 4rem;
    }
}
@media (max-width:1200px) {
    .border{
        padding-left: 1rem;
        padding-right: 1rem;
    }
    
}